/*----------------------------------------------

[Theme CSS]

Theme   : Shock
Version : 1.0.0
Author  : Codings
Support : codings.dev

----------------------------------------------*/

/*----------------------------------------------

[Content Index]

1. Color
2. Typography

----------------------------------------------*/

/*----------------------------------------------
1. Color
----------------------------------------------*/

/* #region Color */

:root {

	/* Primary */
	--primary-color: #063B75;
	--primary-15-color: #063B7526;
	--primary-25-color: #063B7540;
	--primary-50-color: #063B7580;
	--primary-75-color: #063B75bf;

	/* Secondary */
	--secondary-color: #009EE3;
	--secondary-15-color: #009EE326;
	--secondary-25-color: #009EE340;
	--secondary-50-color: #009EE380;
	--secondary-75-color: #009EE3bf;

	/* Tertiary */
	--tertiary-color: #FF0000;
	--tertiary-15-color: #FF000026;
	--tertiary-25-color: #FF000040;
	--tertiary-50-color: #FF000080;
	--tertiary-75-color: #FF0000bf;

	/* Auxiliary */
	--accent-color: #fedc00;
	--success-color: #007a4d;
	--info-color: #023e8a;
	--warning-color: #ff9800;
	--danger-color: #e63946;

	/* White */
	--white-color: #fff;
	--white-10-color: rgba(255, 255, 255, 0.1);
	--white-25-color: rgba(255, 255, 255, 0.25);
	--white-50-color: rgba(255, 255, 255, 0.50);
	--white-65-color: rgba(255, 255, 255, 0.65);
	--white-75-color: rgba(255, 255, 255, 0.75);
	--white-85-color: rgba(255, 255, 255, 0.85);

	/* Gray */	
	--gray-color: #F8F4F0;
	--gray-10-color: rgba(248, 244, 240, 0.1);
	--gray-25-color: rgba(248, 244, 240, 0.25);
	--gray-50-color: rgba(248, 244, 240, 0.50);
	--gray-65-color: rgba(248, 244, 240, 0.65);
	--gray-75-color: rgba(248, 244, 240, 0.75);
	--gray-85-color: rgba(248, 244, 240, 0.85);

	/* Black */
	--black-color: #1a1a20;
	--black-10-color: rgba(26, 26, 32, 0.1);
	--black-25-color: rgba(26, 26, 32, 0.25);
	--black-50-color: rgba(26, 26, 32, 0.50);
	--black-65-color: rgba(26, 26, 32, 0.65);
	--black-75-color: rgba(26, 26, 32, 0.75);
	--black-85-color: rgba(26, 26, 32, 0.85);
}

/* #endregion Color */

/*----------------------------------------------
2. Typography
----------------------------------------------*/

/* #region Typography */

:root {
	--primary-font: Dosis, sans-serif;
	--secondary-font: Orbitron, sans-serif;
}

	/*-- Menú --*/
	.shock-header .navbar .navbar-nav .megamenu .nav-link .text,
	.shock-header .navbar .navbar-nav .dropdown-menu .nav-link .text {
		background: linear-gradient(to right,var(--tertiary-color),var(--secondary-color) 50%,var(--gray-color) 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position .4s ease;
		font-weight: 500;
		color: var(--gray-color);
	}


	.shock-header .navbar .navbar-nav .dropdown-toggle.has-icon .icon {
		font-size: .75rem; 
	  }


	  .shock-header .navbar .navbar-icons .nav-link:hover {
		color: var(--secondary-color);
	  }

	@media (max-width: 991px){
		.shock-header .navbar .navbar-collapse .navbar-nav .nav-link:hover {
			color: var(--secondary-color);
		}

		.shock-header .navbar .navbar-nav .dropdown-toggle.has-icon .icon {
			border: none;
		  }
	}


	
	

	/*-- End: Menú --*/

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin-bottom: 1.5rem;
		font-family: var(--secondary-font);  
		line-height: 1.2;
	}

	.text-style-1, 
	.text-style-2, 
	.text-style-3, 
	.text-style-4, 
	.text-style-5, 
	.text-style-6, 
	.text-style-7, 
	.text-style-8 {
		font-family: var(--secondary-font);  
		line-height: 1.2;
	}

	.text-style-1 { font-size: 6.2rem; font-weight: 800; }
	.text-style-2 { font-size: 5.2rem; font-weight: 800; }
	.text-style-3 { font-size: 4.2rem; font-weight: 800; }
	.text-style-4 { font-size: 4.2rem; font-weight: 100; }
	.text-style-5 { font-size: 3.2rem; font-weight: 800; }
	.text-style-6 { font-size: 3.2rem; font-weight: 100; }
	.text-style-7 { font-size: 2.2rem; font-weight: 700; }
	.text-style-8 { font-size: 2.2rem; font-weight: 100; }
	.text-style-9 { font-size: 1.75rem; font-weight: 700; }
	.text-style-10 { font-size: 1.75rem; font-weight: 100; }
	.text-style-11 { font-size: 1.2rem; font-weight: 700; }
	.text-style-12 { font-size: 1.2rem; font-weight: 400; }

	

	@media (max-width: 767px) {
		.text-style-1 { font-size: 3rem; }
		.text-style-2 { font-size: 3rem; }
		.text-style-3 { font-size: 3rem; }
		.text-style-4 { font-size: 3rem; }
		.text-style-5 { font-size: 2.2rem; font-weight: 700; }
		.text-style-6 { font-size: 2.2rem; }
		.text-style-7 { font-size: 1.75rem; }
		.text-style-8 { font-size: 1.75rem; }	
		.text-style-9 { font-size: 1.5rem; }
		.text-style-10 { font-size: 1.5rem; }
		.text-style-11 { font-size: 1.2rem; }
		.text-style-12 { font-size: 1rem; }
	}

	p {
	margin-top: 0;
	margin-bottom: 1rem;
	}

	p:last-child {
		margin-bottom: 0;
	}

	b,
	strong {
	font-weight: 700;
	}

	small, .small {
	font-size: 0.85rem;
	}

	/* #endregion Typography */

	.shock-header .navbar .navbar-brand .logo {
		max-height: 46px;
	}


	@media only screen and (max-width: 600px) {
		.shock-header .navbar .navbar-brand .logo {
			max-height: 32px;
		}
	}

	/* Preloader */
	
	#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	
	
	#app-preloader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		gap: 46px;
		justify-content: center;
		align-items: center;
		background: #222222;
		color: var(--secondary-color);
		transition: .3s ease-in-out; 
		z-index: 1000;
		}
	
		#app-preloader .customloader {
			width: 328px;
			height: 328px;
			filter: opacity(0);
			animation: customloader-anim .6s .10s ease-out forwards;
			z-index: 1000;
			
		}
	
		#app-preloader .speedometer {
			position: fixed;
			bottom: 120px;
			left: calc(50vw - calc( 42px / 2px));
			width:  62px;
			height:  62px;
			animation: speedometer-anim .6s .5s ease-in backwards;
			z-index: 1000;
		} 
		
		.loader{
			width: 150px; 
			height: 150px; 
			border: 1px #fff solid;
			position: absolute; 
			left: 50%; 
			top: 50%; 
			margin: -75px 0 0 -75px; 
			border-radius: 50%;
			z-index: 1000;
		}
		
		.loader .loading{
			font-size: 10px; 
			position: absolute; 
			width: 100%; 
			text-align: center; 
			line-height: 14px; 
			font-family: var(--secondary-font); 
			font-style: italic; 
			left: 0; 
			top: 50%; 
			margin-top: 20px; 
			color: var(--secondary-color); 
			font-weight: bold; text-transform: uppercase;
			z-index: 1000;
		}
		
		.loader-circle-1{
			width: 138px; 
			height: 138px; 
			left: 5px; 
			top: 5px; 
			border: 1px #fff solid;
			border-radius: 50%;
			position: absolute; 
			border-right-color: transparent;
			-webkit-animation: spin 3s linear infinite;
			animation: spin 3s linear infinite;
			z-index: 1002;
		}
		
		.loader-circle-2{
			width: 126px; 
			height: 126px; 
			left: 5px; 
			top: 5px; 
			border: 1px transparent solid; 
			border-radius: 50%; 
			position: absolute; 
			border-right-color: #FF0000;
			-webkit-animation: spin 5s linear infinite;
			animation: spin 5s linear infinite;
			z-index: 1002;
		}
		
		.loader .line{
			width: 10px; 
			height: 2px; 
			background: #fff; 
			position: absolute;
			z-index: 1002;
		}
		
		.loader .line:nth-child(1){
			left: 16px; 
			top: 50%; 
			margin-top: -1px;
			z-index: 1002;
		}
		
		.loader .line:nth-child(2){
			transform: rotate(45deg); 
			-moz-transform: rotate(45deg); 
			-webkit-transform: rotate(45deg); 
			-ms-transform: rotate(45deg); 
			left: 33px; 
			top: 33px;
			z-index: 1000;
		}
		
		.loader .line:nth-child(3){
			top: 16px;
			 left: 50%;
			 width: 2px;
			 height: 10px;
			 z-index: 1000;
		}
		 .loader .line:nth-child(4){
			transform: rotate(135deg);
			 -moz-transform: rotate(135deg);
			 -webkit-transform: rotate(135deg);
			 -ms-transform: rotate(135deg);
			 right: 33px;
			 top: 33px;
			 z-index: 1000;
		}
		 .loader .line:nth-child(5){
			right: 16px;
			 top: 50%;
			 margin-top: -1px;
			 z-index: 1000;
		}
		 .loader .line:nth-child(6){
			transform: rotate(45deg);
			 -moz-transform: rotate(45deg);
			 -webkit-transform: rotate(45deg);
			 -ms-transform: rotate(45deg);
			 right: 33px;
			 bottom: 33px;
			 background: #FF0000;
			 z-index: 1000;
		}
		 .loader .subline{
			position: absolute;
			 width: 3px;
			 height: 2px;
			 background: #fff;
			 z-index: 1000;
		}
		 .loader .subline:nth-child(7){
			transform: rotate(22.5deg);
			 -moz-transform: rotate(22.5deg);
			 -webkit-transform: rotate(22.5deg);
			 -ms-transform: rotate(22.5deg);
			 left: 21px;
			 top: 50px;
			 z-index: 1000;
		}
		 .loader .subline:nth-child(8){
			transform: rotate(67.5deg);
			 -moz-transform: rotate(67.5deg);
			 -webkit-transform: rotate(67.5deg);
			 -ms-transform: rotate(67.5deg);
			 left: 50px;
			 top: 21px;
			 z-index: 1000;
		}
		 .loader .subline:nth-child(9){
			transform: rotate(112.5deg);
			 -moz-transform: rotate(112.5deg);
			 -webkit-transform: rotate(112.5deg);
			 -ms-transform: rotate(112.5deg);
			 right: 50px;
			 top: 21px;
			 z-index: 1000;
		}
		 .loader .subline:nth-child(10){
			transform: rotate(157.5deg);
			 -moz-transform: rotate(157.5deg);
			 -webkit-transform: rotate(157.5deg);
			 -ms-transform: rotate(157.5deg);
			 right: 21px;
			 top: 50px;
			 z-index: 1000;
		}
		 .loader .subline:nth-child(11){
			transform: rotate(22.5deg);
			 -moz-transform: rotate(22.5deg);
			 -webkit-transform: rotate(22.5deg);
			 -ms-transform: rotate(22.5deg);
			 right: 20px;
			 bottom: 49px;
			 background: #FF0000;
			 z-index: 1000;
		}
		 .loader .needle{
			width: 14px;
			 height: 14px;
			 border-radius: 50%;
			 border: 1px #fff solid;
			 position: absolute;
			 left: 50%;
			 top: 50%;
			 margin: -8px 0 0 -8px;
			 z-index: 1;
			 -webkit-animation: pegIt 3s infinite ease-in-out;
			 animation: pegIt 3s infinite ease-in-out;
			 z-index: 1000;
		}
		 .loader .needle:before{
			content: "";
			 width: 0;
			 height: 0;
			 border-style: solid;
			 border-width: 3.5px 50px 3.5px 0;
			 border-color: transparent #FF0000 transparent transparent;
			 position: absolute;
			 right: 50%;
			 top: 50%;
			 margin: -3.5px 0 0 0;
			 border-radius: 0 50% 50% 0;
			 z-index: 1000;
		}
	
	   
	
		
	
		/* Loaded */
		
		
		.loaded #loader {
			opacity: 0;
			-webkit-transition: all 0.5s ease-out;  
					transition: all 0.5s ease-out;
		}
		.loaded #loader-wrapper {
			visibility: hidden;
	
			-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: translateY(-100%);  /* IE 9 */
					transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
	
			-webkit-transition: all 0.5s 5s ease-out;  
					transition: all 0.5s 5s ease-out;
		}

	

	/* End: Preloader */

	


	/* Shape Divider */

	.custom-shape-divider-bottom-1664442233,
	.custom-shape-divider-bottom-revisiones,
	.custom-shape-divider-bottom-eventos{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1664442233 svg,
	.custom-shape-divider-bottom-revisiones svg,
	.custom-shape-divider-bottom-eventos svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 50px;
	}

	.custom-shape-divider-bottom-1664442233 .shape-fill,
	.custom-shape-divider-bottom-revisiones .shape-fill {
		fill: #1A1A20;
	}

	.custom-shape-divider-bottom-eventos .shape-fill
	 {
		fill: var(--gray-color);
	}

	/* End: Shape Divider */

	














	.revision-frenos ul > li:first-child,
	.revision-frenos ul > li:last-child,
	.revision-frenos ul > li,
	.revision-neumaticos ul > li:first-child,
	.revision-neumaticos ul > li:last-child,
	.revision-neumaticos ul > li,
	.electrico ul > li:first-child,
	.electrico ul > li:last-child,
	.electrico ul > li
	
	{
		
		margin: 0.5rem 0.5rem;
	}


	


	.revision-frenos .icon-list .image-icon,
	.revision-neumaticos .icon-list .image-icon,
	.electrico .icon-list .image-icon {
		
		height: 2rem;
		margin-top: calc( 1rem / 2 );
		
		
		
		

	}

	

	.content {
		background-color: #fbfbfc;
		overflow: hidden;
		position: relative;
		z-index: 3;
	}
	
	
	
	.stage-1 .container-fluid .contenido-stage-1 .content-inner,
	.stage-2 .container-fluid .contenido-stage-2 .content-inner,
	.stage-3 .container-fluid .contenido-stage-3 .content-inner,
	.activaciones .container-fluid .contenido-activaciones .content-inner {
		display: -webkit-box!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-box-orient: vertical!important;
		-webkit-box-direction: normal!important;
		-ms-flex-direction: column!important;
		flex-direction: column!important;
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
	}
	
	.no-gutters {
		margin-left: 0;
		margin-right: 0;
	}
	
	.mb-6-repro {
		margin-bottom: 24vw!important;
	}
	.mt-9-repro {
		margin-top: 36vw!important;
	}
	
	.stage-1,
	.stage-2,
	.stage-3,
	.activaciones {
		background-color: var(--gray-color);
		overflow: hidden;
		position: relative;
	}
	
	.stage-1 svg,
	.stage-2 svg,
	.stage-3 svg,
	.activaciones svg {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		width: 100vw;
		z-index: 2;
	}
	
	.cb-img-container {
		background: var(--black-color);
		position: relative;
	}
	
	.cb-img-container img {
		height: auto;
		opacity: 0.75;
		position: relative;
		width: 100%;
		z-index: 1;
	}
	
	
	.h-outline text {
		font-family: var(--secondary-font);
		font-weight: 700;
		stroke: var(--tertiary-color);
		text-transform: uppercase;
	}
	
	.container-fluid .stage-1,
	.container-fluid .stage-2,
	.container-fluid .stage-3,
	.container-fluid .activaciones {
		padding-left: 8vw;
		padding-right: 8vw;
		background-color: var(--white-color);
		position: relative;
		z-index: 2;
	}
	
	
	.stage-1 .container-fluid .contenido-stage-1 .content-inner:after,
	.stage-2 .container-fluid .contenido-stage-2 .content-inner:after,
	.stage-3 .container-fluid .contenido-stage-3 .content-inner:after,
	.activaciones .container-fluid .contenido-activaciones .content-inner:after {
		background: var(--gray-color);
		content: "";
		height: 100%;
		position: absolute;
		right: -24vw;
		top: 0;
		width: 25vw;
		z-index: -1;
	}
	
	.fade-in {
		-webkit-animation: fade-in 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation: fade-in 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	
	
	 
	  
	
	@media (min-width:768px) {
		.col-md-6-repro {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
		.offset-md-6-repro {
			margin-left: 50%;
		}
		.my-md-2-repro {
			margin-top: 8vw!important;
			margin-bottom: 8vw!important;
		}
		
		.ml-md-2-repro {
			margin-left: 8vw!important;
		}
	
		.cb-img-container {
			clip: rect(0, auto, auto, 0);
			height: 100%;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100vw;
			z-index: 0;
		}
		
		.cb-img-container img {
			bottom: 0;
		  height: 100vh;
		  left: 0;
		  -o-object-fit: cover;
		  object-fit: cover;
		  position: fixed;
		  right: 0;
		  top: 0;
		  -webkit-transform: perspective(0);
		  transform: perspective(0);
		  width: 100vw;
		  z-index: -1;
		}
		
		.stage-1 svg,
		.stage-2 svg,
		.stage-3 svg,
		.activaciones svg {
			position: fixed;
			width: 50vw;
		}
		
		.stage-1 .container-fluid,
		.stage-2 .container-fluid,
		.stage-3 .container-fluid,
		.activaciones .container-fluid {
			background-color: transparent;
		}
		
		.stage-1 .container-fluid .contenido-stage-1 .content-inner,
		.stage-2 .container-fluid .contenido-stage-2 .content-inner,
		.stage-3 .container-fluid .contenido-stage-3 .content-inner,
		.activaciones .container-fluid .contenido-activaciones .content-inner {
			background: var(--gray-color);
			height: 100vh;
			margin-left: 70px;
			position: relative;
			z-index: 2;
		}
		
	}



	.mouse-down {
		position: relative;
		top: 50px !important;
		right: -200px!important;
		height: 45px;
		width: 27px;
		background-color: transparent;
		border: 2px solid;
		border-color: var(--primary-color) !important;
		border-radius: 50rem;
		cursor: pointer;
		outline: none;
		opacity: 0.9 !important;
		-webkit-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}

	.mouse-down:before {
		position: absolute;
		top: 10px;
		left: 50%;
		content: '';
		width: 6px;
		height: 6px;
		margin-left: -3px;
		background-color: var(--color);
		border-radius: 50%;
		-webkit-animation: scroll-down-animation 2s infinite;
		animation: scroll-down-animation 2s infinite;
		box-sizing: border-box;
	}

	

	




	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.img-full,
	.intro__img img {
		width: 100%;
		display: block
	}
	
	.section {
		margin-right: auto;
		margin-left: auto
	}
	
	.intro--cta .intro__section {
		padding-top: 120px;
		padding-bottom: 120px
	}
	
	
	
	
	
	.intro {
		position: relative;
		overflow: hidden
	}
	
	.intro__content {
		overflow: hidden
	}
	
	.intro__content .section {
		position: relative
	}
	
	.intro--cta .intro__section--right {
		position: relative
	}
	
	.intro__cta {
		position: relative;
		background: var(--secondary-color);
		z-index: 3
	}
	
	.intro__img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-width: calc((100% / 6) * 5);
		width: 100%;
		height: 100%;
		background: var(--black-50-color);
		z-index: 1
	}
	
	.intro__img img {
		max-width: 559px;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		mix-blend-mode: luminosity
	}
	
	.intro__cta {
		padding: 50px 60px 60px
	}
	
	@media screen and (min-width:671px) {
		.intro__section--right {
			margin-left: auto
		}
	
		.intro__cta {
			max-width: calc((100% / 6) * 5);
			margin-left: auto
		}
	
		.intro__img {
			left: 0
		}
	}
	
	@media screen and (max-width:670px) {
		.intro--cta .intro__section--right {
			position: relative;
			padding: 40px 0
		}
	
		.intro--cta .intro__section+.intro__section {
			margin-top: 60px
		}
	
		.intro__img {
			right: 0;
			margin-right: -8vw
		}
	}
	
	@media screen and (-ms-high-contrast:active),
	screen and (-ms-high-contrast:none) {
		::-ms-clear {
			width: 0;
			height: 0;
			display: none
		}
	}
	
	

	.intro img.intro_dots {
		position: absolute;
		bottom: -8.3vw;
		right: 10.4vw;
		width: 24.3vw;
		pointer-events: none;
		z-index: 999;
		max-width: 100%;
		height: auto;
	  }



	  
.image-stack::after {
  content: ' ';
  display: table;
  clear: both;
}

.image-stack__item--top {
    float: left;
    width: 66%;
    margin-right: -100%;
    padding-top: 15%; 
    position: relative;
    z-index: 2;
}

.image-stack__item--bottom {
    float: right;
    width: 75%;
}






@-webkit-keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

	
@keyframes pegIt {
	0% {transform: rotate(0deg);}
	16% {transform: rotate(75deg);}
	25% {transform: rotate(55deg);}
	30% {transform: rotate(90deg);}
	36% {transform: rotate(170deg);}
	42% {transform: rotate(150deg);}
	50% {transform: rotate(227deg);}
	100% {transform: rotate(0deg);}
  }
  
  @-webkit-keyframes pegIt {
	0% {-webkit-transform: rotate(0deg);}
	16% {-webkit-transform: rotate(75deg);}
	25% {-webkit-transform: rotate(55deg);}
	30% {-webkit-transform: rotate(90deg);}
	36% {-webkit-transform: rotate(170deg);}
	42% {-webkit-transform: rotate(150deg);}
	50% {-webkit-transform: rotate(227deg);}
	100% {-webkit-transform: rotate(0deg);}
  }
  
  @-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
  }
  @keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
	  }
  
  @keyframes customloader-anim {
	  0% {
		  filter: opacity(0);
		  transform: translateX(-60px);
	  }
  
	  100% {
		  filter: opacity(1);
		  transform: translateX(0);
	  }
  }


  @keyframes speedometer-anim {
	  0% {
		  filter: opacity(0);
		  
	  }
  
	  100% {
		  filter: opacity(1);
		  
	  }
  }


  
  
  /*-- 2. Logo --*/
  
  /*.shock-header .navbar .navbar-brand .logo {
    max-height: 50px;
}





